#formGroupExampleInput{
    text-align: center;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left:35%;
    color: white;
}

form{
    
    text-align: center; 
  

}
input{
    align-items: center;
    justify-content: center;

}
