#formGroupExampleInput{
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

form{
    
    text-align: center; 
  

}
input{
    align-items: center;
    justify-content: center;

}
