.App {
  text-align: center;
}
/* body {
  background-color: gray !important;
} */
/* #home {
  color: red;
  margin-left: 200px;
} */
#logo {
  margin-left: 0% !important;
}
Navbar.Brand {
  margin-left: 0% !important;
}
